* {
    margin: 0;
    padding: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
}
body {
    color: #313133;
    font-size: .875rem;
    background-color: #f1f1f2;
}

.all {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    
    font-size: .875rem;
    
}
.adv_img{
    width: 13px;
    height: 13px;
}
.advert {
    width: 100%;
    align-items: center;
    background-color: #ff9900;
}
.advert_1 {
    justify-content: center;
    align-items: center;
    margin: 0px 55px;
}

.mercury_a {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 32px;
    background-color: #f1f1f2;
    width: auto;
    margin: 0px 230px;
    padding: 16px 0px;

}
.mercury_1 {
    margin-top: 7px;
    position: absolute;
    left: 50px;
}
.mercury_1_1 img {
    width: 13px;
    height: 13px;
    padding-right: px;
}
.mercury_a {
    width: auto;
    padding: 0px 8px;
    
}

.mercury_1 a{
    width: 99px;
    height: 24px;
    margin-top: 7px;
    text-decoration: none;
    color: #313133;
}
.mercury_1 a img{
    color: #313133;
    margin-right: 10px;
}
.mecury_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 190px;
    margin-top: 7px;
    cursor: pointer;
    
}
.mecury_2 a {
    width: 67px;
    height: 24px;
}
.mec_img {
    width:54px;
    height: 9px;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #313133;
    height: 72px;
    align-items: center;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.12);
  
}


.list_drop:hover{
    color: #ff9900;
}
.list_1 :hover + .drop{
    display: flex;
    opacity: 1;
}



.drop {
    border-radius: 4px;
    position: absolute;
    left: 260px;
    display: none;
    flex-direction: row;
    height: 384px;
    background: #ffffff;
    opacity: 0;
    z-index: 1;
}

.drop_1 {
    display:flex;
    flex-direction: column;
    width: 244px;
    
    padding-left: 8px;
   
}

.dd_a_1{
    font-size: 12px;
    width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 500;
    padding-bottom: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 4px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #d4d4d6;
    white-space: nowrap;
    color: inherit;
   
}

.dd_a {
    font-size: .70rem;
    color: #75757a;
    display: block;
    overflow: hidden;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16.5px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
    overflow: visible;
   
}
.list_1 {
    display: none;
}
/*
.slash {
    height: auto;
    width: auto;
    padding: 0;
    transition: all 0s .2s;
    box-shadow: inset 1px 0 1px 0 #d4d4d6;
    order: 99;
    border-color: #fff;
    opacity:0;
}
.slash-sub {
    
    height: 100%;
    width: 728px;
    
}

.slash_1 {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    overflow: hidden;

}
.slash_2 {
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-top: 4px;

}
.slash_item_1 {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 500;
    padding-bottom: 4px;
    padding-top: 4px;
    overflow: hidden;
    display: block;
    text-decoration: none;
}
.slash_item_1+.slash_item {
    padding-top: 8px;
    border-top: 1px solid #d4d4d6;
}
.slash_item {
    font-size: .75rem;
    color: #75757a;
    display: block;
    overflow: hidden;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

*/

main {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.venus_a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 74px;
    width: auto;
    position: sticky;
    margin: 0px 230px;
    padding: 16px 0px;
}
.venus_1 {
    width: 222px;
    height: 30px;
    margin: 0px 8px;
}
.venus_1 img {
    width: 134px;
    height: 30px;
}

.venus_2 {
    display: flex;
    flex-direction: row;
    width: 640px;
    height: 40px;
}
.venus_2 button {
    height: 100%;
    margin: 0px 0px 0px 8px;
    width: 88px;
    background-color: #ff9900;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    text-decoration: none;
    text-align: center;
    border: none;
}
.venus_2 button:hover {
    background-color: #c0650a;
}

.venus_search {
    width: 521px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    padding: 1px 2px;
}
.venus_search .material-symbols-outlined {
    align-items: center;
    margin: 0px 8px;
    
}

.venus_search input {
    width: 477px;
    border: none;
    font-size: 1rem;
}
.venus_search button {
    margin: 0px 0px 0px 8px;
}

.venus_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 332px;
    height: 42px;
}
.venus_3_acct label{
    font-size: 16px;
    width: 145px;
    height: 42px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.venus_3_acct label:hover,
.venus_3_help label:hover,
.venus_3 a:hover {
    color: #ff9900;
    cursor: pointer;
}
.venus_3_help label {
    width: 107px;
    height: 42px;
    padding: 7px;
    display:flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
}
.venus_3 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 8px;
    color: black;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.earth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    padding: 16px 0px;
}

.mars {
    height: 392px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0px 8px 8px;
}


.list_1 {
    display: flex;
    flex-direction: column;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
    justify-content: center;
    height: 384px;
    width: 206px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}
.list_drop{
    width: 206px;
    height: 32px;
    padding: 0px 0px 0px 8px;
    text-decoration: none;
    color: #313133;
    display:flex;
    align-items: center;
    cursor: pointer;
    
}
.list_1 a .material-symbols-outlined {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
.note {
    font-size: 12px;
    margin-left: 5px;
    width: 117px;
    height: 14px;
}
.note1 {
    font-size: 12px;
    margin-left: 5px;
    width: 117px;
    height: 14px;
}
.list_1 a .material-symbols-outlined {
    width: 15px;
    padding-bottom: 23px;
    height: 16px;
    margin-right: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 10
    
}
.mars_2 {
    margin-left: 17px;
    border-radius: 4px;
    display: block;
    border: transparent;
    overflow: hidden;
}
.mars_3 {
    right: 0;
    margin-left: 17px;
    width: 218px;
    height: 382px;
    border-radius: 4px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.mars_3a_img {
    margin-bottom: 10px;
    border-radius: 4px;
    border: transparent;
    overflow: hidden;
    
    height: 184px;
    
}
.mars_3_img {
    margin-bottom: 10px;
    border-radius: 4px;
    border: transparent;
    overflow: hidden;
    margin-bottom: -1px;
    height: 184px;
}
.jupiter {
    display: block;
    width: auto;
    height: 189px;
    margin-top: 10px;
    border: transparent;
    background-color: #fff;
    border-radius: 4px;
}
.jupiter_sect {
    display: block;
}
.jupiter_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.jupiter_2 {
    width: 133px;
    height: 182px;
    padding: 8px 4px;
    
}
.jupiter_3:hover{
    border: transparent;
   
    padding-bottom: 14px;
    
    border-radius: 4px;
    box-shadow: 0 0 0.35em 0.35em rgba(82, 82, 82, 0.123);
}
.jupiter_2 a {
    text-decoration: none;
}
.jupiter_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jupiter_3 img {
    width: 121px;
    height: 125px;
}
.jupiter_3 p {
    font-size: 13px;
    margin: 5px;
    height: 16px;
    width: auto;
    color: #313133  
}
.jupiter_btn {
    width: 52px;
    margin-right: -10px;
    margin-left: 11px;
   
}
.jupiter_btn2 {
    width: 52px;
    
}
.btn_1 {
    border-radius: 50px;
    border:transparent;
    background-color: #A3A3A6;
    
}
.btn_2 {
    border-radius: 50px;
    border:transparent;
    background-color: #A3A3A6;
    
    
}
.btn_1 .material-symbols-outlined,
.btn_2 .material-symbols-outlined {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    color: #fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
  }
.jupiter_a{
    display: block;
    width: auto;
    height: auto;
    margin-top: 16px;
    border: transparent;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.jup_1 {
    display: block;
    height: 319px;
    background-color: #fff;
    width: 100%;
}
.jup_sect {
    display: flex;
    flex-direction: column;
    
    
}
.jupiter_header {
    height: 48px;
    background-color: #fff;
    align-items: center;
    display: block;
    padding: 0px 16px;

}
.sert {
    display: flex;
    flex-direction: row;
  

}
.sertune {
    width: 174.90px;
    height: 263px;
    margin-left: 10px;
    margin-right: 10px;
   
}
.sertune:hover{
    border: transparent;
   
    padding-bottom: 14px;
    
    border-radius: 4px;
    box-shadow: 0 0 0.35em 0.35em rgba(82, 82, 82, 0.123);
}
.art {
    display: flex;
    flex-direction: column;
    
}
.art a img {
    width: 185.33px;
    height: 185px;
    border: transparent;
    border-radius: 4px;
}
.art a {
    text-decoration: none;
    margin-top: 5px;
    overflow: hidden;
}

.art_name p {
    overflow: hidden;
    text-overflow:ellipsis;
    height: 26px;
    width: 185.33px;
    padding: 8px 8px 4px;
    font-size: 14px;
    font-weight: 500;
    color: #313133;
    white-space: nowrap;
    text-align: center;
}
.tsi {
    width: 23px;
    margin-left: 20px;
    align-items: center;
    margin-top: 11px;
}
.tsi_2 {
    margin-top: 10px;
}
.tsi h2 {
    font-size: 20px;
    white-space: nowrap;
    font-weight: 500;
    margin-top: -10px;
}
.price::after {
    content: "N1650";
}
.price {
    font-size: 13px;
    padding: 1px 8px 4px;
    color: #313133;
}
.real_price {
    font-size: 13px;
    padding: 1px 8px 4px;
    text-decoration: line-through;
    color: #313133;
}

.jupiter_header_2 {
    height: 48px;
    background-color: #E61601;
    align-items: center;
    display: block;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.jupiter_header_3 {
    height: 48px;
    background-color: #fee2cc;
    align-items: center;
    display: block;
    color: #313133;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.tsi_21 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 8px;
    color: #ffffff;
}
.tsi_31 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 8px;
    color: #313133;
    
}
.jupiter_header_3 .tsi h2 {
    color: #313133;
}
.jupiter_header_4 {
    height: 48px;
    background-color: #b5de93;
    align-items: center;
    display: block;
    color: #313133;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.store_img img {
    width: 190px;
} 
.store_a {
    width: 184px;
}

.coll_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 1162px;
}
.coll_h {
    padding: 0px 16px;
    font-size: 20px;
    background-color: #fee2cc;
    height: 48px;
    width: 100%;
    text-align: center;
    color: #313133;
    padding-top: 12px;
    font-weight: 500; 
}

.coll_h_2 {
    padding: 0px 16px;
    font-size: 20px;
    background-color: #20ac76;
    height: 48px;
    width: 100%;
    text-align: center;
    color: #313133;
    padding-top: 12px;
    font-weight: 500;
    
}
.coll_d {
    padding: 4px 8px;
    width: auto;
    height: auto;
}
.coll_anch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px 8px;
}
.coll_anch a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 134px;
    text-decoration: none;
    margin: 4px;
    color: #313133;
}

.store_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 184px;
    
    text-decoration: none;
    margin: 4px;
    color: #313133;
}
.coll_img {
    width: 180px;
    height: 102px;
}

.note_1 {
    padding: 0px 16px;
    background-color: #ffffff;
    width: 1169px;
    display: block;
}
.note_2 {
    padding: 8px 0px;
    color: #313133;
}
.note_2 h2 {
    padding: 8px 0px;
    font-weight: 500;
    font-size: medium;
}
.note_2 p {
    padding: 8px 0px;
    font-size: 12px;
    font-weight: 340;
}
.note_2 a {
    
    color: #313133;
}
.note_2 ul {
    padding-left:16px;
    
}
.note_2 ul li {
    font-size: 12px;
    font-weight: 340;
}
::marker {
    margin-left: 8px;
}
.ft_logo_img img{
   width: 140px;
   height: 24px;
}
footer {
    background: #535357;
    width: 100%;
    height: auto;
    margin: 0px 0px 16px;
    align-items: center;

}
.ft_logo_img {
    padding: 0px 8px;
    width: 124px;
}
.ft_head {
    width: 100%;
    background: #313133;
    padding: 20px 0px 0px;
    margin: 0px 0px 16px;
}
.ft_hd {
    margin: 0px 56px;
    padding: 0px 0px 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
.ft_txt {
    color: #fff;
    font-size: small;
}
.ft_txt span {
    display: block;
    font-size: 12px;
    padding: 0px 0px 8px;
    text-transform: uppercase;
}
.ft_md {
    padding: 0px 8px;
    width: 502px;
    margin-bottom: 0px;

}
.ft_email {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.ft_email_2 {
    border: none;
    border-radius: 4px;
    overflow: visible;
}
.newsletter {
    height: 80px;
    margin-bottom: 20px;
    padding: 8px 0px 0px;
}
.ft_email_2 input{
    padding: 14px 16px 14px 48px;
    height: 48px;
    width: auto;
    
}
.foot_btn {
    width: auto;
    height: 48.8px;
    margin: 0px 4px;
    padding: 16px 24px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}
.foot_btn:hover {
    border-color: #ff9900;
    color: #ff9900;
}

.ft_email_2 .material-symbols-outlined {
    color: #a3a3a6;
    position: absolute;
    margin-top:13px;
    margin-left: 16px;
    background-color: #ffffff;
    font-variation-settings:
    'FILL' 1,
    'wght' 450,
    'GRAD' 0,
    'opsz' 48
  }
.ft_2_head {
    padding: 8px;
    width: 296px;
    

}
li {
    list-style: none;
    font-weight: 300;
}
li a {
    text-decoration: none;
    font-size: 12px;
    padding: 0px 0px 4px;
    color: #f1f1f2;
}
li a:hover {
    text-decoration: underline;
}
.ft_2_title {
    padding: 0px 0px 16px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
}

.ft_2 {
    margin: 0px 56px;
    padding: 0px 0px 24px;
    border-bottom: 1px solid #f1f1f2;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.ft_int {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -9px ;
}
.int_1,
.int_2 {
    display: flex;
    flex-basis: 31.25%;
    padding-left: 8px;
    padding-right: 8px;
}
.ft_soc a {
    font-size: 42px;
    padding: 8px;
    color: #fff;
    text-decoration: none;
}
.ft_soc a:hover {
    color: #ff9900;
}
.ft_soc a i {
    font-size: 21px;    
}
.ft_3_1 {
    padding: 24px 0px 0px;
    margin: 0px 0px 16px;
}
.ft_social  {
    font-size: 12px;
    color: #ffffff;
}
.ft_svg {
    width:63px;
    height: 46px;
    fill: #fff;
    padding-top: 20px;
}
.ft_svg:hover {
    fill: #ff9900;
}
.ft a {
    padding-top: 20px;
    align-content: center;
}
.ft_las img{
    width: 40px;
    height: 40px;
}
.ft_las {
    color: #ffffff;
    width: 280px;

    display: flex;
    flex-direction: row;
}
.yore {
    padding: 0px 0px 0px 16px;
    display: flex;
    flex-direction: column;
}
.yore_1 {
    padding: 0px 0px 8px;
    font-size: 12px;
    font-weight: 500;
}
.yore_2 {
    font-size: 10px;
    font-weight: 300;
}
.app_store {
    display: flex;
    flex-direction: row;
}
.app_store a {
    margin: 10px 8px 0px -4px;
    padding: 4px;
    
}
.app_store img {
    width: 92px;
    height: 26px;
    
}